$main-color :#F44335;
$main-textColor: #484848;
$light-greyColor : #e9e9e9; 

a:hover{
 

    text-decoration: none;
  
}

.bwm-card {
    border: none;


    .card-block {
      padding-top: 8px;


      .card-subtitle {
        margin: 0;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: #16861a;
      }




      .card-title {
        font-size: 19px;
        margin: 3px 0;
        color: $main-textColor;
      }


      .card-text {
        font-size: 14px;
        font-weight: 300;
        color: #7e7e7e;
        margin-bottom: 0;
      }
    }
  }
